version: '3.8'

services:
  nginx:
    build: ./services/nginx
    volumes:
      - static_volume:/home/app/web/app/static
    ports:
      - 1337:80
    depends_on:
      - web
  web:
    build:
      context:  ./services/web
    command: gunicorn --bind 0.0.0.0:5000 app:create_app()
    volumes:
      - static_volume:/home/app/web/app/static
      - ./services/web:/usr/src/app
    expose:
      - 5000
    env_file:
      - ./.env
      
  redistimeseries:
    image: 'redislabs/redistimeseries'
    volumes:
      - redistimeseries:/data

volumes:
  redistimeseries:
  static_volume: